{% for comment in comments %}
    <div class="card mb-2">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item">
                <a href="#">
                    <img src=="/media/{{ comment.image }}"
                         class="mr-3 rounded-circle"
                         width="50"
                         alt="User"/>
                </a>
                <div class="media-body">
                    <h6>
                        <h3 class="text-body">{{ comment.user.full_name }}</h3>
                    </h6>
                    <p class="text-secondary">{{ comment.comment }}</p>
                    <span class="text-secondary font-weight-bold">{{ comment.comment_at|naturaltime }}</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
